certifi==2022.6.15
charset-normalizer==2.1.1
DAWG-Python==0.7.2
docopt==0.6.2
idna==3.3
navec==0.10.0
numpy==1.23.2
pandas==1.4.3
Pillow==9.2.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
python-dateutil==2.8.2
pytz==2022.2.1
requests==2.28.1
six==1.16.0
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
typing-extensions==4.3.0
urllib3==1.26.12
yargy==0.15.0
